<a href="https://colab.research.google.com/github/zihadbappy/bnfake/blob/main/Md_Gulzar_ML_models_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
!git clone https://github.com/zihadbappy/FakeDatasets.git

fatal: destination path 'FakeDatasets' already exists and is not an empty directory.

In [110]:
import pandas as pd
Dataset= pd.read_excel('/content/FakeDatasets/FinalData1.xlsx')

In [111]:
df= Dataset.filter(['Title','Statement', 'Class'], axis=1)
df.loc[(df.Class=='Real'),'Class']=1
df.loc[(df.Class=='Fake'),'Class']=0
df['Class']=df['Class'].astype('int')
df['Class'].dtypes

dtype('int64')

In [112]:
df.columns=['headline', 'content', 'label']
df.groupby('label').agg('count')

       headline  content
label
0           993      993
1          1548     1548

In [113]:
df = df.drop_duplicates(subset='headline', keep="first")
df.groupby('label').agg('count')

       headline  content
label
0           948      948
1          1545     1545

In [114]:
df.headline.duplicated().sum()

0

In [115]:
df.groupby('label').agg('count')

       headline  content
label
0           948      948
1          1545     1545

In [116]:
import re
from re import sub
def text_to_word_list(text):
    text = text.split()
    return text

def replace_strings(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           u"\u00C0-\u017F"          #latin
                           u"\u2000-\u206F"          #generalPunctuations
                               
                           "]+", flags=re.UNICODE)
    english_pattern=re.compile('[a-zA-Z0-9]+', flags=re.I)
    #latin_pattern=re.compile('[A-Za-z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff\s]*',)
    
    text=emoji_pattern.sub(r'', text)
    text=english_pattern.sub(r'', text)

    return text

def remove_punctuations(my_str):
    # define punctuation
    punctuations = '''````£|¢|Ñ+-*/=EROero৳০১২৩৪৫৬৭৮৯012–34567•89।!()-[]{};:'"“\’,<>./?@#$%^&*_~‘—॥”‰🤣⚽️✌�￰৷￰'''
    
    no_punct = ""
    for char in my_str:
        if char not in punctuations:
            no_punct = no_punct + char

    # display the unpunctuated string
    return no_punct



def joining(text):
    out=' '.join(text)
    return out

def preprocessing(text):
    out=remove_punctuations(replace_strings(text))
    return out
df['headline'] = df.headline.apply(lambda x: preprocessing(str(x)))
df['content'] = df.content.apply(lambda x: preprocessing(str(x)))

In [117]:
df['content'] = df['content'].str.replace(r'\n', ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [118]:
df = df.reset_index(drop=True)

In [119]:
pip install bnlp_toolkit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bnlp_toolkit in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.7.3)
Requirement already satisfied: gensim==4.0.1 in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (4.0.1)
Requirement already satisfied: sklearn-crfsuite in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (0.3.6)
Requirement already satisfied: wasabi in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (0.10.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.21.6)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (0.1.97)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (3.7)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.0.1->bnlp_toolkit) (5.2.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (4.64.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (1.15.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (0.8.10)
Requirement already satisfied: python-crfsuite>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (0.9.8)

In [120]:
from bnlp import BasicTokenizer
from bnlp.corpus import stopwords, punctuations, letters, digits

btokenizer = BasicTokenizer()

word_list= []
def clean_text(text):
    tokens = btokenizer.tokenize(text)
    filtered = []
    for i in tokens:
        if i in stopwords:
            continue
    
        if i in punctuations + '‘' + '’':
            continue
    
        filtered.append(i)
        word_list.append(i)
    return " ".join(filtered)

# print("********** Before ***************")
# text = df.iloc[1]['content']
# print(text)
# print("\n********** After ***************")
# print(clean_text(text))
df['content'] = df.content.apply(clean_text)

In [121]:
# print(len(set(word_list))
uniq=set(word_list)

In [122]:
X=df.content
Y=df.label

In [123]:
from sklearn.feature_extraction.text import CountVectorizer

In [124]:
bow_transformer = CountVectorizer(tokenizer=lambda x: x.split())
bow_transformer.fit(uniq)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  "The parameter 'token_pattern' will not be used"

CountVectorizer(tokenizer=<function <lambda> at 0x7fea78c6fe60>)

In [125]:
# print(bow_transformer.vocabulary_.iloc[:10])
# for value in bow_transformer.vocabulary_:
#   print(value)

In [126]:
news4 = df['content'][3]
print(news4)

বাইরে বেরোচ্ছি কিছুদিন ভালো বেরোতে পারছি করোনা নামের এক অদ্ভুত অচেনা শত্রু আকস্মিকভাবে ঢুকে পড়েছে জীবনে যুদ্ধ হয়ে বিশ্বজুড়ে অসম যুদ্ধ শত্রুপক্ষ মারাত্মক শক্তিশালী চিনি পাশাপাশি যুদ্ধের বাস্তবতায় শব্দ ঢুকে পড়ছে নিত্যদিনের অভিধানেকরোনা কোয়ারেন্টিন আইসোলেশন সোশ্যাল ডিসট্যান্সিং লকডাউন যেসব শব্দ শুনিওনি সেগুলো দখল নিয়েছে শব্দই শব্দসংশ্লিষ্ট ঘটনার অভিজ্ঞতাও অভূতপূর্ব অভিজ্ঞতা বাংলাদেশেও লকডাউন হওয়ার শব্দটি দিনগুলোও হয়ে কোথাও শব্দ কোলাহল নীরবনির্জন হয়ে সবকিছু জানালা দিয়ে ব্যালকনি দূর যায় দেখি জনমানুষের চিহ্ন কোথাও যানবাহনের শব্দ ফেরিওয়ালার হাঁক মানুষের হাসি এক মৃত নগরী এক জনমানবহীন শহরের স্থির চিত্র বহুকাল এখান মানুষের পদচারণা শেষ হয়ে কেবল ভরদুপুরেও একটা কুকুরের করুণ কান্নার শব্দ শুনে ভেবেছি কোথাও অকল্যাণের আভাস পেয়েছে মা বলতেন যুদ্ধের সময় দুর্ভিক্ষের সময় কুকুর এভাবে কাঁদত দেখছি পোষা বেড়ালটি কিনা পরিবারের সবচেয়ে দুরন্ত সদস্য সারাক্ষণ দুষ্টুমিতে খেলাধুলায় ব্যতিব্যস্ত রাখে ঝিম মেরে শুয়ে থাকছে মন খারাপ সেও পেয়ে মানুষের দুঃসময়ের বার্তা শহরেই কাটল পুরোটা জীবন কখনো দেখিনি কথা একটা ভাইরাসের দাপটে বন্দী হয়ে পড়ল মানুষ বিশ্ব স্বাস্থ্য সংস্থার নির্দেশনাগুলো মানতে করল অক্ষরে অক্ষরে এগুলোকে কেবলই অস্তিত্ব রক্ষার যুদ্ধ ভাবব অর্থ গত দশকে বিশ্বজুড়ে মানুষের জীবনযাপনে অকল্পনীয় পরিবর্তন এসেছে কথা ভাবুন সবাই ব্যস্ত সবাই দৌড়াচ্ছে সবারই তাড়াযদিও কোথায় পৌঁছাতে চায় সম্বন্ধে পরিষ্কার ধারণা একটা যান্ত্রিক জীবনে অভ্যস্ত হয়ে পড়েছে সবাই জীবনে প্রতিযোগিতা স্বার্থপরতা সরু একটা সিঁড়ি বেয়ে ওপরে উঠতে চাইছে মানুষ ব্যগ্রভাবে জানে কিসের অধীর প্রচেষ্টা সহমর্মিতা কোথাও প্রতিযোগিতার থাকতে থাকতে অবিরাম দৌড়ানোর স্বজনপ্রিয়জনদের তাকানোর সময়ও পাচ্ছে ভুলেই প্রিয়জনের মুখ কোয়ারেন্টিন ঘরে থাকার বাধ্যবাধকতা মানুষকে সুযোগ দিয়েছে স্বজনদের তাকানোর তাকিয়ে দেখছে আহা শিশুটির মুখ মায়াভরা মায়ের মুখটি পবিত্র সঙ্গীর মুখটি প্রেমময় এও ভাবছি করোনাভাইরাস আসলে প্রকৃতিরই পরিকল্পনার অংশ প্রকৃতি অপূর্ব বৈচিত্র্য ভারসাম্য তৈরি করেছিল বিবিধ সৃষ্টি দিয়ে ভয়ংকর আগ্রাসী ভঙ্গিতে ধ্বংস ফেলেছি চেয়েছি প্রকৃতির ওপর আধিপত্য বিস্তার নিয়ন্ত্রণ ইচ্ছেমতো লাগাতে এসব দূষিত করেছি মাটিপানিবাতাসসব তাড়িয়ে দিয়েছি প্রাণীদের বুঝতেই চাইনি গ্রহে মানুষের যতটুকু অধিকার ততটুকুই অধিকার নিসর্গের প্রতিটি প্রাণী বৃক্ষের এমনকি পতঙ্গেরও অবাধ বিচরণের অধিকার বেঁচে থাকার অধিকার এসব বুঝতে চাইনি বলেই মানুষের অপরিণামদর্শী কর্মকাণ্ডে বিরক্ত হয়ে ঘরে বন্দী ব্যবস্থা প্রকৃতি অবসরে মানুষের তৈরি যাবতীয় দূষণগুলো মেরামত নিচ্ছে নিশ্চয়ই বিশ্বজুড়ে বায়ুদূষণ কমছে কমছে জলের দূষণও শব্দদূষণ নেইই আসছে প্রাণপ্রকৃতির স্বাভাবিক রূপ প্রকৃতি আধিপত্য দেখিয়ে দিচ্ছে অবাধ্য মানুষকে বন্দী নিসর্গকে সাজিয়ে নিচ্ছে সাজানো শেষ করোনাকে ফিরিয়ে নেবে মানুষও পাবে মুক্ত জীবনএমন এলোমেলো ভাবনা আসে সঙ্গনিরোধকালে

In [127]:
bow4 = bow_transformer.transform([news4])

In [128]:
print(bow4.nnz)

295

In [129]:
print(bow4.shape)

(1, 65759)

In [130]:
# bow_transformer.get_feature_names()

In [131]:
bow_transformer.get_feature_names()[20000]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

'চুম্বক'

In [132]:
news_bow= bow_transformer.transform(df['content'].values.astype('U'))

In [133]:
print('Shape of Sparse Matrix: ', news_bow.shape)

Shape of Sparse Matrix:  (2493, 65759)

In [134]:
news_bow.nnz

407653

In [135]:
news_bow.shape

(2493, 65759)

# TF-IDF

In [136]:
from sklearn.feature_extraction.text import TfidfTransformer

In [137]:
tfidf_transformer= TfidfTransformer().fit(news_bow)
tfidf4= tfidf_transformer.transform(bow4)
print(tfidf4)

  (0, 65684)	0.1149236899833955
  (0, 64825)	0.04086304186194518
  (0, 64068)	0.062383172798826256
  (0, 63626)	0.022682967287231813
  (0, 63256)	0.02347708506913933
  (0, 63241)	0.06479684847212792
  (0, 63214)	0.03153871515188008
  (0, 63044)	0.06819873326624327
  (0, 63041)	0.0470076672600366
  (0, 62905)	0.05316572753729389
  (0, 62413)	0.04667860232936218
  (0, 61922)	0.039253060907868786
  (0, 61869)	0.04887985956201442
  (0, 61826)	0.03435113057912934
  (0, 61608)	0.02813683035776473
  (0, 60789)	0.06051098049684844
  (0, 60508)	0.05129353523531608
  (0, 60007)	0.04976384274317855
  (0, 59993)	0.0518723909635165
  (0, 59657)	0.056567612331409244
  (0, 59462)	0.05469542002943143
  (0, 59312)	0.049310214418024724
  (0, 59309)	0.03573434823770611
  (0, 59237)	0.06051098049684844
  (0, 58846)	0.045477974767899075
  :	:
  (0, 3056)	0.053895759972580774
  (0, 2816)	0.062383172798826256
  (0, 2707)	0.03635427439500138
  (0, 2117)	0.04667860232936218
  (0, 1997)	0.06051098049684844
  (0, 1757)	0.03035226002663542
  (0, 1615)	0.04847050616940115
  (0, 1608)	0.052494162796779195
  (0, 1487)	0.06819873326624327
  (0, 1474)	0.06479684847212792
  (0, 1471)	0.038862754243631406
  (0, 1394)	0.062383172798826256
  (0, 1375)	0.06051098049684844
  (0, 1373)	0.04976384274317855
  (0, 1312)	0.04976384274317855
  (0, 1140)	0.052494162796779195
  (0, 1078)	0.062383172798826256
  (0, 535)	0.056567612331409244
  (0, 486)	0.15978740415806483
  (0, 462)	0.044427845954631784
  (0, 253)	0.05075205186399224
  (0, 127)	0.11537590286186702
  (0, 78)	0.06819873326624327
  (0, 76)	0.058981288004710905
  (0, 27)	0.02891527654681216

In [138]:
tfidf_transformer.idf_[bow_transformer.vocabulary_.get('চাল')]

3.8587984959800745

In [139]:
news_tfidf = tfidf_transformer.transform(news_bow)

In [140]:
news_tfidf.shape

(2493, 65759)

## Multinomial Naive Bayes

In [141]:
from sklearn.naive_bayes import MultinomialNB

In [142]:
mnb_model = MultinomialNB().fit(news_tfidf, df['label'])

In [143]:
mnb_model.predict(tfidf4)[0]

1

In [144]:
all_pred = mnb_model.predict(news_tfidf)

In [145]:
df['label'][1535:1565]

1535    1
1536    1
1537    1
1538    1
1539    1
1540    1
1541    1
1542    1
1543    1
1544    1
1545    0
1546    0
1547    0
1548    0
1549    0
1550    0
1551    0
1552    0
1553    0
1554    0
1555    0
1556    0
1557    0
1558    0
1559    0
1560    0
1561    0
1562    0
1563    0
1564    0
Name: label, dtype: int64

In [146]:
all_pred[1535:1565]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [147]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [148]:
xtrain, xtest, ytrain, ytest = train_test_split(news_tfidf, df['label'], test_size=0.30, random_state=32, stratify=df['label'])
news_train, news_test, label_train, label_test = train_test_split(df['content'], df['label'], test_size=0.30, random_state=32, stratify=df['label'])

In [149]:
from sklearn.pipeline import Pipeline

In [150]:
pipeline = Pipeline([
    ('bow',CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('classifier', MultinomialNB())
])

In [151]:
pipeline.fit(news_train.values.astype('U'), label_train)

Pipeline(steps=[('bow', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [152]:
mnbYpred =  pipeline.predict(news_test)

In [153]:
mnbYpred

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0])

In [154]:
print('Accuracy of MNB classifier on test set: {:.3f}'.format(accuracy_score(mnbYpred, label_test)))
# accuracy_score(mnbYpred, label_test)

Accuracy of MNB classifier on test set: 0.924

In [155]:
from sklearn.metrics import classification_report

In [156]:
print(classification_report(label_test, mnbYpred,digits=4))

              precision    recall  f1-score   support

           0     1.0000    0.7993    0.8885       284
           1     0.8906    1.0000    0.9421       464

    accuracy                         0.9238       748
   macro avg     0.9453    0.8996    0.9153       748
weighted avg     0.9321    0.9238    0.9218       748

## Logistic Regression

In [157]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [158]:
logreg = LogisticRegression()
logreg.fit(xtrain, ytrain)

LogisticRegression()

In [159]:
ypred = logreg.predict(xtest)

In [160]:
print('Accuracy of logistic regression classifier on test set: {:.3f}'.format(logreg.score(xtest, ytest)))

Accuracy of logistic regression classifier on test set: 0.963

In [161]:
print(classification_report(ytest, ypred,digits=4))

              precision    recall  f1-score   support

           0     0.9961    0.9049    0.9483       284
           1     0.9449    0.9978    0.9706       464

    accuracy                         0.9626       748
   macro avg     0.9705    0.9514    0.9595       748
weighted avg     0.9643    0.9626    0.9622       748

## KNN

In [162]:
from sklearn.neighbors import KNeighborsClassifier

In [163]:
knn = KNeighborsClassifier(n_neighbors=12)

In [164]:
knn.fit(xtrain, ytrain)

KNeighborsClassifier(n_neighbors=12)

In [165]:
knnYpred = knn.predict(xtest)

In [166]:
print(knnYpred)

[1 1 1 1 1 0 0 1 1 1 0 1 1 0 1 0 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 0 1 1 1 1 0
 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 1
 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 1
 0 0 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1
 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 1 0 1 1 0 1
 0 1 1 1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 1 1 1 0 1 1 1 0 1 1 1 1 1 0 1 0 1 1 1
 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1
 1 1 1 0 0 1 1 0 1 1 0 0 0 1 1 0 1 0 1 1 0 1 1 1 0 0 1 0 0 1 1 1 0 0 0 0 0
 0 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 0 0 1 1 1 0 0 0 1 1 1
 1 0 0 1 1 1 1 1 0 0 0 0 1 0 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 0 1 1 1 1 1 1
 1 1 0 1 0 1 1 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1 0 1 1
 1 0 1 1 0 0 1 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 1 1 1 0 0 1 1 0 1 0 1 0
 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1
 1 1 0 0 0 1 0 1 1 0 1 1 1 0 0 1 1 1 0 1 1 1 0 0 1 1 1 0 0 1 1 1 0 0 0 1 0
 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 1 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 1 1 1
 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 0 1 1 0 1 0 1 0 1 1 1 0 1 0 1 0 1 1 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 1 0 1
 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 1 1
 0 1 1 0 1 1 0 0]

In [167]:
print('Accuracy of knn on test set: {:.3f}'.format(knn.score(xtest, ytest)))

Accuracy of knn on test set: 0.952

In [168]:
print(classification_report(ytest, knnYpred,digits=4))

              precision    recall  f1-score   support

           0     0.9844    0.8873    0.9333       284
           1     0.9350    0.9914    0.9623       464

    accuracy                         0.9519       748
   macro avg     0.9597    0.9394    0.9478       748
weighted avg     0.9537    0.9519    0.9513       748

# SVM

In [169]:
from sklearn.svm import SVC

In [170]:
classifier = SVC(kernel='rbf', random_state = 7)
classifier.fit(xtrain,ytrain)

SVC(random_state=7)

In [171]:
svcYpred = classifier.predict(xtest)

In [172]:
print(classifier.predict(xtest))

[1 1 1 1 1 0 0 1 1 1 0 1 1 0 1 0 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 0 1 1 1 1 0
 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 0 1 1 0 1 1 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 1
 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 1
 0 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 0 0 1 1 0 1 1 0 0 1 1 1 1
 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 1 0 1 1 0 1
 0 1 1 1 1 0 1 1 1 1 0 1 0 0 1 1 1 0 1 1 1 0 0 1 1 0 1 1 1 1 1 0 1 0 1 1 1
 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1
 1 1 0 0 0 1 1 0 1 1 0 0 0 1 1 0 1 0 1 1 0 1 1 1 1 0 1 0 0 1 1 1 0 0 0 0 0
 0 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 0 0 1 1 1 0 0 0 1 1 1
 1 0 0 1 1 1 1 1 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 0 1 1 1 0 1 1
 1 1 0 1 0 1 1 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1 0 1 1
 1 0 1 1 0 0 1 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 1 1 1 0 0 1 1 0 1 0 1 0
 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1
 1 1 0 0 0 1 0 1 0 0 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 0 0 1 1 1 0 0 0 1 0
 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 1 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 1 1 1
 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 0 1 1 0 1 0 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 1 1 0 1
 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 1 1
 0 1 1 0 1 1 0 0]

In [173]:
print('Accuracy of SVM on test set: {:.4f}'.format(classifier.score(xtest, ytest)))

Accuracy of SVM on test set: 0.9706

In [174]:
print(classification_report(ytest, svcYpred,digits=4))

              precision    recall  f1-score   support

           0     0.9962    0.9261    0.9599       284
           1     0.9566    0.9978    0.9768       464

    accuracy                         0.9706       748
   macro avg     0.9764    0.9620    0.9683       748
weighted avg     0.9716    0.9706    0.9704       748

# Decision Tree

In [175]:
from sklearn import tree

In [176]:
clf = tree.DecisionTreeClassifier(random_state=17)
clf = clf.fit(xtrain, ytrain)
y_pred = clf.predict(xtest)
print(classification_report(ytest, y_pred))
print('\nDecision Tree Classifier Accuracy: {0:.4f}'.format(accuracy_score(ytest, y_pred)))

              precision    recall  f1-score   support

           0       0.97      0.95      0.96       284
           1       0.97      0.98      0.98       464

    accuracy                           0.97       748
   macro avg       0.97      0.97      0.97       748
weighted avg       0.97      0.97      0.97       748


Decision Tree Classifier Accuracy: 0.9719

#AdaBoost

In [177]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [178]:
adaclassifier = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100)

adaclassifier.fit(xtrain,ytrain)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=100)

In [179]:
aday_pred = adaclassifier.predict(xtest)

In [180]:
print(classification_report(ytest, aday_pred, digits=4))
print('\nAdaboost classifier Accuracy: {0:.4f}'.format(accuracy_score(ytest, aday_pred)))

              precision    recall  f1-score   support

           0     0.9819    0.9577    0.9697       284
           1     0.9745    0.9892    0.9818       464

    accuracy                         0.9773       748
   macro avg     0.9782    0.9735    0.9758       748
weighted avg     0.9773    0.9773    0.9772       748


Adaboost classifier Accuracy: 0.9773